# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cb\Documents\Smail Jusic\Git-Aufgaben\java-01-3-arbeiten-mit-strings-SmailJ\Aufgabe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
